<!-- <div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>
      <p class="text-center">
        Please enter your email address to request a password reset.
      </p>
      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="submit"
          value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>
    <div class="redirectToLogin">
      <span
        >Go back to ?<span class="redirect" routerLink="/sign-in"
          >Log In</span
        ></span
      >
    </div>
  </div>
</div> -->

<form [formGroup]="formForgotPassword">
  <header>
    <icon name="logo"></icon>
    <span>Reset Password</span>
    <small>Sint consequat labore elit irure fugiat magna excepteur .</small>
  </header>
  <main>
    <input placeholder="Email or username" formControlName="email" />
    <!-- <small> {{ formErrors("email") }}</small> -->
    <a routerLink="/sign-in">I have an account? Sign In</a>
    <a routerLink="/register-user">You don't have Account? Sign UP</a>
  </main>
  <footer>
    <button type="button" (click)="resetPassword()">Reset Password</button>
    <small>Power By : IRISDEV</small>
  </footer>
</form>
