<form [formGroup]="formSignUp">
  <header>
    <icon name="logo"></icon>

    <span>Sign Up</span>

    <small>Sint consequat labore elit irure fugiat magna excepteur .</small>
  </header>

  <main>
    <input placeholder="Email or username" formControlName="email" />

    <!-- <small> {{ formErrors("email") }}</small> -->
    <input placeholder="Password" type="password" formControlName="password" />

    <a routerLink="/sign-in">I have an account? Sign In</a>
  </main>

  <footer>
    <button type="button" (click)="signUp()">Sign Up</button>

    <small>Power By : IRISDEV</small>
  </footer>
</form>
