<!-- <div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Username"
          #userName
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPassword
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Log in"
          (click)="authService.SignIn(userName.value, userPassword.value)"
        />
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span
        >Don't have an account?<span
          class="redirect"
          routerLink="/register-user"
        >
          Sign Up</span
        ></span
      >
    </div>
  </div>
</div> -->

<form [formGroup]="formLogin">
  <header>
    <icon name="logo"></icon>
    <span>Sign In</span>
    <small>Sint consequat labore elit irure fugiat magna excepteur .</small>
  </header>
  <main>
    <input placeholder="Email or username" formControlName="email" />
    <small> {{ formErrors("email") }}</small>
    <input placeholder="Password" type="password" formControlName="password" />
    <a routerLink="/forgot-password">Forgot Password</a>
    <a routerLink="/register-user">You don't have Account? Sign UP</a>
  </main>
  <footer>
    <button type="button" (click)="signIn()">login</button>
    <button type="button" class="outline" (click)="connectWhitGoogleAccount()">
      <icon name="google"></icon> with Google
    </button>
    <small>Power By : IRISDEV</small>
  </footer>
</form>
